// *************************general*****************************

@font-face {
    font-family: "YesevaOne";
    src: url(../fonts/YesevaOne_Regular.otf);
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato_Regular.otf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans_Regular.otf)
}

/*@media only screen and (max-width: 600px){ }
@media only screen and (min-width: 601px){}
@media only screen and (min-width : 768px){}
@media only screen and (min-width : 992px){}
@media only screen and (min-width: 1200px){}

    
@media only screen and (orientaion: landscape){
        body{ 
            background-color: lightblue;
        }
}*/



body{
    // width:100vw;
    // height:100vh;
    margin:0;
    padding:0;

    #social_icons {
        ul {
            list-style-type: none;
            text-decoration: none;
        }
    }

    header {
        background-image: url("../pictures/bg_header.jpg");
        background-repeat: no-repeat;
        background-size:cover; //100% 100% voir pour le responsive
        // background-attachment: fixed; les autres sections passent au dessus
        width: 100vw;
        // height: 100vh;
        //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
        //height:auto *
        min-height: 750px;

        @media only screen and (max-width: 600px){ 
        
        width:100vw;
        height: auto;

        }        
        
        @media only screen and (min-width: 601px){
            width:100%;
            height: auto;

        }


        @media only screen and (min-width : 768px){
            width:100%;
            height: auto;
        }

        #back_header{
                    background: linear-gradient(0deg,rgba(255,255,255,0),rgba(0,0,0,0.5));                
                    //z-index:1; //entre le background et l'image
                    position:fixed;
                    width: 100vw;

                    @media only screen and (min-width: 601px){
                        width:100%;
                        height: auto;
            
                    }

                    
            nav {
                margin-left: 10%;
                margin-right: 10%;
                display: flex;
                justify-content: space-around;

                @media only screen and (max-width: 601px){ 
                    margin:2%;

                }
                


                    #navbar {
                        ul {                           
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            list-style-type: none;
                            

                            li{
                                
                                margin-right: 80px;
                                @media only screen and (max-width: 601px){ 
                                    margin:0px;
                                }
                                
                                a{
                                    text-decoration: none;
                                    color: white;
                                    font-family: "Gentium Book Basic";
                                    font-size: 21px;
                                    font-weight: 700;
                                }
                                
                                a:hover{
                                border-top: 3px solid whitesmoke;
                                padding-top:8px;
                                }
                                
                                .socials_icons{
                                    color:rgb(218,179,62);
                                }
                                }
                        }
                    }
                }

        }

            #presentation{
                text-align:center;
                padding-left:10%;
                padding-right:10%;
                padding-top: 150px;
                padding-bottom: 30px;
                h1{
                    font-family:"YesevaOne";
                    font-size:90px;
                    color:white;
                    text-align: center;
                    text-shadow: 2px 2px 2px black;
                }
                #divider1{
                    display: block;
                    margin-left:auto;
                    margin-right: auto;
                    padding-top:15px;
                    padding-bottom:50px;
                }
                
                .booking{
                    margin-right:30px;
                    padding:15px 30px;
                    background-color:rgba(0,0,0,0.5);
                    border:1px solid black;
                    color:white;
                    font-family:"Lato";
                    font-size:18px;

                    
                }
                .menu{
                    margin-right:20px;
                    padding:15px 30px;
                    color:white;
                    border:1px solid white;
                    background-color:rgba(255,255,255,0.5);
                    font-family:"Lato";
                    font-size:18px;
                }
            }
    }
            #about{
                background-image: url(../pictures/pattern_right_food.png);
                background-repeat: no-repeat;
                background-size:cover; //100% 100% voir pour le responsive
                width: 100vw;
                min-height: 750px;
                display: flex; /*dans chaque grande section*/
                flex-direction: row; /*dans chaque grande section*/
                align-items: center; /*dans chaque grande section*/
                justify-content: center; /*dans chaque grande section*/
                // height: 100vh;

                //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
                //height:auto *
                

                
                #cook{
                width:40%;
                min-height: 550px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                // margin-left:15%;

                    h2{
                    color:rgb(202,153,44);
                    font-family:"YesevaOne";
                    font-size: 36px;
                    text-align: center;
                    
                    }
                    #divider2{
                    display: block;
                    }   

                    P{
                    font-family:"Lato";
                    font-size:16px;
                    color:black;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    //padding:30px;
                    // padding-left:25%;
                    //padding-right:25%;
                    width: 50%;
                    text-align: center;

                    @media only screen and (max-width: 601px){ 
                    
                        width:80%;
                            }
            }
                    #chef{
                display:flex;
                justify-content:center;
                padding-left:10%;

            }
        }
                    #plate{
                display:flex;
                justify-content:center;
                // box-shadow: 12px 12px 2px 1px rgba(0,0,0,0.5);
                width:40%;
                // margin-right:15%;


                // @media only screen and (max-width: 601px){ 
                    
                    // display:none;
                        }
            }
        
        }
            #ingredient{
                background-image: url(../pictures/bg_ingredient.jpg);
                background-repeat: no-repeat;
                background-size:cover; //100% 100% voir pour le responsive
                background-attachment: fixed;
                width: 100vw;
                height: 100vh;
                //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
                //height:auto *
                display: flex; /*dans chaque grande section*/
                flex-direction: row; /*dans chaque grande section*/
                align-items: center; /*dans chaque grande section*/
                justify-content: center; /*dans chaque grande section*/

            #help{
                    width:750px;
                }
            
            #fine_ingredients{
                    background-color:rgba(0,0,0,0.5);
                    min-height:557px;
                    width:570px;
                    //margin-left:50%;
                    display:flex;
                    justify-content:center;
                    flex-direction:column;
                    
                    h2{
                    color:white;
                    font-family: "YesevOne";
                    font-size: 36px;
                    text-align: center;
                }
                #divider_3{
                    display: block;
                    margin-left:auto;
                    margin-right: auto;
                    padding-bottom: 5%;
                }
                p{
                    color:white;
                    font-size:16px;
                    font-family: "Lato";
                    text-align:center;
                    padding-right:15%;
                    padding-left: 15%;
                }
                #img_ingredient{
                    display:flex;
                    justify-content:space-around;
                    flex-direction: row;
                    padding-top: 10%;
                    padding-left:5%;
                    padding-bottom: 10%;
                    width:90%;
                }
            }
        }
        
        #reviews{
            background-image: url("../pictures/bg_reviews.jpg");
            background-repeat: no-repeat;
            background-size:cover; //100% 100% voir pour le responsive
            background-attachment: fixed;
            width: 100vw;
            height: 100vh;
            //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
            //height:auto *
            display: flex; //dans chaque grande section
            flex-direction: row; /*dans chaque grande section*/
            align-items: center; /*dans chaque grande section*/
            justify-content: center; /*dans chaque grande section*/

            #bg_slate_plate{
                background-image: url("../pictures/test.png"); 
                background-repeat:no-repeat;
                background-size: cover;
                width:50%;
                justify-content:center;
                padding:4%;

            h2{
                font-family:"YesevaOne";
                font-size:36px;
                color:white;
                text-align: center;
            }
            #divider_4{
                display: block;
                margin-left:auto;
                margin-right: auto;
                padding-top:15px;
            }
           
            #guillemet:before{
                content: url(../pictures/guillemet.png);
                margin-right:3%;
            }

            p {
                font-family: "Gentium Book Basic";
                font-size:36px;
                color:white;
                text-align: center;
            }
           
            .city{
                font-family: "Lato";
                font-size:18px;
                text-align: center;
            }
        }
        }
        #right_food{
            background-image: url(../pictures/pattern_right_food.png);
            background-repeat: no-repeat;
            background-size:cover; //100% 100% voir pour le responsive
            width: 100vw;
            height: 100vh;
            //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
            //height:auto 
            display: flex; //dans chaque grande section
            flex-direction: row; /*dans chaque grande section*/
            align-items: center; /*dans chaque grande section*/
            justify-content: center; /*dans chaque grande section*/
        
        #right_food_pic{
            width:50%;
        //     margin-right:10px;
        //     margin-left:10px;
            display:flex;
            justify-content:center;

            #meat{
                padding-right:1.5%;
            }

            #dessert{
                padding-left:1.5%;
            }

            // @media only screen and (min-width: 601px){
            //     display:none;
    
            // }
        }
        #reservation{
            width:50%;
            // border:1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h2{  
                font-family:"YesevaOne";
                font-size: 36px;
                color:rgb(202,153,44);
                // text-align:center;
            }
            
        #divider2{
            display: block;
            // margin-left:auto;
            // margin-right: auto;
            padding-top:15px;
        }

        p{
            font-family:"Lato";
            font-size: 16px;
            color:black;
            text-align:center;
            // padding:10%;
            width:50%;
        }
        
    form { 
        display: flex;
        flex-direction: row;

        #formulaire{
            font-family:"OpenSans";
            font-size:14px;
            color:rgb(202,153,44);
        
        }
        #name_date{
            font-family:"OpenSans";
            font-size:14px;
            color:rgb(202,153,44);
            margin-right: 10%;
        }


        #party_number{
            font-family:"OpenSans";
            font-size:14px;
            color:rgb(202,153,44);
                    }
        }
        .submit {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 10%;

            input {
                color: white;
                font-family: 'OpenSans';
                font-size: 16px;
                background-color: #c9a131;
                border: none;
                padding: 7px 30px;
            }
        }
    

            }
        }
    
        footer{
            background-color: black;
            background-repeat: no-repeat;
            background-size:cover; //100% 100% voir pour le responsive
            width: 100vw;
            min-height: 320px;
            //width:100% *  ces  2 valeurs permettent à l'image d'être responsive
            //height:auto 
            // display: flex; //dans chaque grande section
            // flex-direction: row; /*dans chaque grande section*/
            // align-items: center; /*dans chaque grande section*/
            justify-content: space-around; /*dans chaque grande section*/
            color:white;
            // padding:0 10%;
        
        #contener_footer{
            display:flex;
            justify-content:space-around;
            align-items: center;
            min-height: 320px;
            
        }
        .divider_footer{
                display: block;
                margin-left:auto;
                margin-right: auto;
                padding-top:15px;
            }

        #about_us{
            width:33%;
            h3{
                text-align:center;
                font-family:"YesevaOne";
                font-size:21px;
            }

            p{
                text-align:center;
                font-family:"OpenSans";
                font-size:16px;
                span{
                    font-weight: bold;
                }
            }
            
        }

        #opening_hours{
            width:33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border:1px solid white;
            h3{
                text-align:center;
                font-family:"YesevaOne";
                font-size:21px;
            }

            ol{
                // padding-right:7%;
                // text-align:center;
                padding-inline-start: 0px;
                li{
                    list-style-type: none;
                    font-family: "OpenSans";
                    font-size:16px;
                    // border:1px solid white;
                    span{
                        font-weight:bold;
                    }
                    // #card{
                    //     display:flex;
                    //     justify-content: center;
                    // }
            }
        }
            ul{

                //  border:1px solid white;
                    display:flex;
                    justify-content:space-between;
                    list-style-type: none;
                    font-size:16px;
                    padding-right:7%;
                    // width:60%;
                    width:25%;
                    a{
                        color:white;
                    }
                }
            
        }

        #our_location{
            // border: 2px solid white;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            width:33%;
            // width:17%;
            h3{
                text-align:center;
                font-family:"YesevaOne";
                font-size:21px;
            }

            ul{ 
                padding-inline-start: 0px;
                list-style-type:none;
                
                li{
                    text-align: center;
                    // padding-right:20%;
                    list-style-type: none;
                    font-family: "OpenSans";
                    font-size:16px;
                    font-weight:bold;
                    width:100%;
                    }
            }

            #socials_icons_2{
                width: 25%;
                
                
                ul{
                display:flex;
                justify-content:space-between;
                font-size: 16px;
                padding-inline-start: 0px;
                list-style-type:none;

                i{
                    color:white;
                                    }
            }
        }
        }
        }