@font-face {
  font-family: "YesevaOne";
  src: url(../fonts/YesevaOne_Regular.otf); }
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato_Regular.otf); }
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans_Regular.otf); }
/*@media only screen and (max-width: 600px){ }
@media only screen and (min-width: 600px){}
@media only screen and (min-width : 768px){}
@media only screen and (min-width : 992px){}
@media only screen and (min-width: 1200px){}

    
@media only screen and (orientaion: landscape){
        body{ 
            background-color: lightblue;
        }
}*/
body {
  margin: 0;
  padding: 0; }
  body #social_icons ul {
    list-style-type: none;
    text-decoration: none; }
  body header {
    background-image: url("../pictures/bg_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 750px; }
    body header #back_header {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
      position: fixed;
      width: 100vw; }
      body header #back_header nav {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: space-around; }
        body header #back_header nav #navbar ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          list-style-type: none; }
          body header #back_header nav #navbar ul li {
            margin-right: 10px;
            margin-left: 10px; }
            body header #back_header nav #navbar ul li a {
              text-decoration: none;
              color: white;
              font-family: "Gentium Book Basic";
              font-size: 21px;
              font-weight: 700; }
            body header #back_header nav #navbar ul li .socials_icons {
              color: #dab33e; }
    body header #presentation {
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 30px;
      padding-bottom: 30px; }
      body header #presentation h1 {
        font-family: "YesevaOne";
        font-size: 90px;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 2px black; }
      body header #presentation #divider1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 20px; }
      body header #presentation .booking {
        margin-right: 30px;
        padding: 15px 30px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid black;
        color: white;
        font-family: "Lato";
        font-size: 18px; }
      body header #presentation .menu {
        margin-right: 20px;
        padding: 15px 30px;
        color: white;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: "Lato";
        font-size: 18px; }
  body #about {
    background-image: url(../pictures/pattern_right_food.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 750px;
    display: flex;
    /*dans chaque grande section*/
    flex-direction: row;
    /*dans chaque grande section*/
    align-items: center;
    /*dans chaque grande section*/
    justify-content: center;
    /*dans chaque grande section*/ }
    body #about #cook {
      width: 40%;
      min-height: 550px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      body #about #cook h2 {
        color: #ca992c;
        font-family: "YesevaOne";
        font-size: 36px;
        text-align: center; }
      body #about #cook #divider2 {
        display: block; }
      body #about #cook P {
        font-family: "Lato";
        font-size: 16px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        text-align: center; }
      body #about #cook #chef {
        display: flex;
        justify-content: center;
        padding-left: 10%; }
    body #about #plate {
      display: flex;
      justify-content: center;
      width: 40%; }
  body #ingredient {
    background-image: url(../pictures/bg_ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    /*dans chaque grande section*/
    flex-direction: row;
    /*dans chaque grande section*/
    align-items: center;
    /*dans chaque grande section*/
    justify-content: center;
    /*dans chaque grande section*/ }
    body #ingredient #help {
      width: 750px; }
    body #ingredient #fine_ingredients {
      background-color: rgba(0, 0, 0, 0.5);
      min-height: 557px;
      width: 570px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      body #ingredient #fine_ingredients h2 {
        color: white;
        font-family: "YesevOne";
        font-size: 36px;
        text-align: center; }
      body #ingredient #fine_ingredients #divider_3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%; }
      body #ingredient #fine_ingredients p {
        color: white;
        font-size: 16px;
        font-family: "Lato";
        text-align: center;
        padding-right: 15%;
        padding-left: 15%; }
      body #ingredient #fine_ingredients #img_ingredient {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 10%;
        padding-left: 5%;
        padding-bottom: 10%;
        width: 90%; }

#reviews {
  background-image: url("../pictures/bg_reviews.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /*dans chaque grande section*/
  align-items: center;
  /*dans chaque grande section*/
  justify-content: center;
  /*dans chaque grande section*/ }
  #reviews #bg_slate_plate {
    background-image: url("../pictures/test.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    justify-content: center;
    padding: 4%; }
    #reviews #bg_slate_plate h2 {
      font-family: "YesevaOne";
      font-size: 36px;
      color: white;
      text-align: center; }
    #reviews #bg_slate_plate #divider_4 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px; }
    #reviews #bg_slate_plate #guillemet:before {
      content: url(../pictures/guillemet.png);
      margin-right: 3%; }
    #reviews #bg_slate_plate p {
      font-family: "Gentium Book Basic";
      font-size: 36px;
      color: white;
      text-align: center; }
    #reviews #bg_slate_plate .city {
      font-family: "Lato";
      font-size: 18px;
      text-align: center; }

#right_food {
  background-image: url(../pictures/pattern_right_food.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  #right_food #right_food_pic {
    width: 50%;
    margin-right: 10px;
    margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
